#content{
    background-color: lightgrey;
    height: 460px;
    width: 480px;
    border-radius: 10px;
}
.first{
    border: 1px solid black;
    width: 450px;
    height: 120px;
    background-color: white;
    margin: 10px;
}

.second{
    clear:both;
    border: 1px solid black;
    width: 450px;
    height: 120px;
    background-color: white;
    margin: 10px;
}

.third{
    clear:both;
    border: 1px solid black;
    width: 450px;
    height: 120px;
    background-color: white;
    margin: 10px;
}


.picture{
    float: left;
    margin: 15px;
}
button[type="button"]{
    background-image: url(button.png);
    background-position: -20px -25px;
    float: right;
    margin:  5px
}

.text{
    float: right;
}
span{
    font-weight: bold;
    
}
h3{
    padding: 5px;
}