body{
    margin: 0;
    padding: 0;
    font-family: Constantina, Georgia, 'Nimbus Roman No9 L', serif;
}

#wrapper{
    width: 960px;
    font-size: 16px;
}

div, ul, li{
    margin: 0;
    padding: 0;
}

.content{
    position: absolute;
    top: -10px;
    left:170px;
    display: none;
}

.menu{
    list-style-type: none;
    float: left;
}

.menu>li{
    box-sizing: border-box;
    display: block;
    height: 40px;
    width: 170px;
    background-color: #B6FF00;
    border-radius: 15px;
    text-align: center;
    margin-top: 10px;
    padding-top:10px;
    position: relative;
}



.menu>li>a:link{
    color: black;
    text-decoration: none;
   
}


.menu>li:hover>a{
    text-decoration: underline;
}

.menu li .content ul {
        list-style-type: none;
   }
   
   
.menu>li:hover .content {
    display: block;
}

.menu>li .content .sub-menu>li{
    width: 520px;
    background-color: #008000;
    border-radius: 15px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top:10px;
    text-align: left;
}


.menu>li .content .sub-menu li a:link{
    text-decoration: none;
    color: #FFFFEF;
}

.menu li .content .sub-menu li a:hover{
    text-decoration: underline;
}

 .menu li .content .sub-menu li a:hover + img {
    display: block;
 }

img{
    display: none;
    width: 500px;
    height: 260px;
    border-radius: 10px;
}